*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    color: #434455;
    background-color: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

img {
    display: block;
    max-width: 100%;
}

/* Menu */

.logo-menu {
    border-bottom: 1px solid #e7e9fc;
}

.menu-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-right: 332px;
    flex-grow: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px
}

.logo {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px;
    white-space: nowrap;
}

.logo-accent {
    color: #2e2f42;
}

.contacts-adress {
    font-style: normal;
}

.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}

.contacts-list {
    gap: 40px;
    padding-bottom: 24px;
    padding-top: 24px;
}

.contacts:hover {
    font-weight: 400;
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.menu-list {
    gap: 40px;
}

.menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu:hover {
    color: #404bbf;
}

.menu:focus {
    color: #404bbf;
}

/* Title section */

.title-section {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
}

.button {
    background-color: #4D5AE5;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

/* Section 2 */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-benefits-li {
    flex-basis: calc((100% - 72px) / 4);
}

.section-list-benefits,
.section-list-team {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 24px;
}

/* Section 3 */

.section-team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title,
.section-title-portfolio,
.section-title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team-li {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.cont-team {
    padding-top: 32px;
    padding-bottom: 32px;
}

.section-item {
    margin-bottom: 8px;
}

.section-item-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}

.section-descr-team {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

/* Section 4 */

.section-port {
    padding-top: 120px;
    padding-bottom: 120px;
}

.cont-port {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-item-port {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-descr-port {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-list-portfolio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
}

.section-port-li {
    flex-basis: calc((100% - 48px) / 3);
}

/* Footer */

.footer-section {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-bottom: 16px;
}

.logo-color {
    color: #f4f4fd;
}

.footer-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}